# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Lambda package
tf/lambda_function.zip

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/

# OS
.DS_Store
.kate-swp
